body{
	background-color: #ffffff;
	font-family: 'Proxima Nova', Helvetica, sans-serif;
	margin: 0;
	height: 100%;
}

html {
	height: 100%;
}


#nav ul {
	list-style-type: none;
	overflow: hidden;
	background-color: #8BBEFF;
	margin: 0;
	padding: 0;

}

#nav li {
	float: left;
}

#nav a {
	color: #000000;
	display: block;
	padding: 8px;
	text-decoration: none;
}

#nav a:hover {
	color: #000000;
	display: block;
	padding: 8px;
	text-decoration: underline;
}

#wrapper {
	min-height: 100%;
	position: relative;
}

    
#main {
	padding: 15px;
	margin: 0;
	padding-bottom: 35px;

}

input, textarea {
	width: 450px;
}

textarea {
	height: 165px;
	
}

#footer {
    position: absolute;
	background-color:#f2f2f2;
	text-align: center;
    font-size: 10pt;
    height: 35px;
    bottom: 0;
    width: 100%;
}


#footer ul {
	list-style-type: none;
}